/* Richard Davies, Data Science for Economists */

/* This is my second CSS file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


/* Set the background color for my page: */

/* Book on colour = Joseph Albers - Interaction of Colour */

body{
    background-color: rgba(220, 236, 239, 0.92);
 }


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h2, h3, p{
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    background-color: rgba(188, 186, 186, 0.92);
    text-align: center;
}
    
.myWeek1{
    margin: auto;
    max-width: 800px;
    background-color: rgba(188, 186, 186, 0.92);

      
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(62, 145, 90);
}

    
9.myWeek5{
    margin: auto;
    max-width: 800px;
    background-color: rgba(188, 186, 186, 0.92);

      
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(62, 145, 90);
}


/* Set the apperance of the class, chart */
.chart{
    background-color: white;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 330px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(194, 164, 164);
    margin: auto;
    display: inline-block;
    
}
    
.grid_items{
    background-color: white;
    width: 200px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(194, 164, 164);
    align-items: center;
    justify-content: center;
    align-content: center;
    display: -moz-inline-stack;
    margin: auto;
    
}