/* Richard Davies, Data Science for Economists */

/* This is my second CSS file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


/* Background color for my page: */



body{
    background-color: rgba(220, 236, 239, 0.92);
    
        background-size: cover;
        margin: 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 100vh;
 }


 /*links*/

 .link{
    background-color:  rgb(62, 145, 90);

    padding: 5px;
    
    border:0px;
    border-color: rgb(6, 145, 90);
    border-style: solid;
    border-radius: 5px;

    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-weight:700;
    color:white;
    text-decoration: none;
 }

 .links{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px
}

.linkcolab{
    background-color:  rgb(62, 145, 90);

    padding: 1px;
    
    border:0px;
    border-color: rgb(6, 145, 90);
    border-style: solid;
    border-radius: 2px;

    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-weight:700;
    color:white;
    text-decoration: none;
 }

 .linkcolab:hover{

    background-color:rgb(71, 201, 114);

    border:0px;
    border-color:rgb(0, 0, 0);
    border-style: solid;
    
}


.link:hover{

    background-color:rgb(71, 201, 114);

    border:0px;
    border-color:rgb(0, 0, 0);
    border-style: solid;
    
}

 .wrap{
    display: block;
    margin: auto;
   }

/* Choose the appearance of the tags, h1, h3 and p: */


h1{
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    
    text-align: center;
    }
    
h2{
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    
    text-align: center;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
   
    text-align: center;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-variant: normal;
    
    text-align: center;
}
 
 
.myWeek1{
    margin: auto;
    max-width: 800;
    text-align: center;
    border-top: 5px;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    border-style: none;
    background-color: rgba(165, 243, 174, 0.92);
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;

    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(122, 221, 133, 0.92);

}    

.myWeek2{
    margin: auto;
    max-width: 800;
    text-align: center;
    border-top: 5px;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    border-style: none;
    background-color: rgba(165, 243, 174, 0.92);
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;

    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(122, 221, 133, 0.92);

}    

.myWeek3{
    margin: auto;
    max-width: 800;
    text-align: center;
    border-top: 5px;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    border-style: none;
    background-color: rgba(165, 243, 174, 0.92);
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;

    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(122, 221, 133, 0.92);

}    

.myWeek4{
    margin: auto;
    max-width: 800;
    text-align: center;
    border-top: 5px;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    border-style: none;
    background-color: rgba(165, 243, 174, 0.92);
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;

    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(122, 221, 133, 0.92);

}    

.myWeek5{
    margin: auto;
    max-width: 800;
    text-align: center;
    border-top: 5px;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    border-style: none;
    background-color: rgba(165, 243, 174, 0.92);
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;

    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(122, 221, 133, 0.92);


   
}

.myWeek6{
    margin: auto;
    max-width: 800;
    text-align: center;
    border-top: 5px;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    border-style: none;
    background-color: rgba(165, 243, 174, 0.92);
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;

    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(122, 221, 133, 0.92);

}    

.myWeek7{
    margin: auto;
    max-width: 800;
    text-align: center;
    border-top: 5px;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    border-style: none;
    background-color: rgba(165, 243, 174, 0.92);
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;

    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(122, 221, 133, 0.92);

}    

.myWeek8{
    margin: auto;
    max-width: 800;
    text-align: center;
    border-top: 5px;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    border-style: none;
    background-color: rgba(165, 243, 174, 0.92);
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;

    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(122, 221, 133, 0.92);

}    

.myWeek9{
    margin: auto;
    max-width: 800;
    text-align: center;
    border-top: 5px;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    border-style: none;
    background-color: rgba(165, 243, 174, 0.92);
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;

    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(122, 221, 133, 0.92);

}    

.myWeek10{
    margin: auto;
    max-width: 800;
    text-align: center;
    border-top: 5px;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    border-style: none;
    background-color: rgba(165, 243, 174, 0.92);
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;

    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(122, 221, 133, 0.92);

}    

    /*  

     margin: auto;
    max-width: 900px;
    background-color: rgba(188, 186, 186, 0.92);

 
    */





/* Set the apperance of the class, chart */
/*.chart{
    background-color: white;
    width: 550px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(194, 164, 164);
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    margin: auto;
    
}
*/    
.chart{
    background-color: white;
    width:700;
    height: auto;
    border-width: 3px;
    border-style: solid;
    border-radius: 0px;
    margin-left: 50px;
    margin-right: 50px;
    border-color: rgb(50, 50, 50);
    margin-bottom: 0.5cm;
    display: inline-flex;    
}
    

.grid_items{
    background-color: white;
    width: 250px;
    border-width: 3px;
    border-style: solid;
    border-radius: 0px;
    border-color: rgb(50, 50, 50);
    margin-bottom: 0.5cm;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: -moz-inline-stack;
    margin: auto;
    
}